<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        </div>
          <h2 >知识猎人.悬赏规则 1.0 版本
          </h2>
          <p class="lead">
            基本规则 1：悬赏发布者——在所有范围内的知识领域遇到无法解决的问题可以在 “知识猎人.悬赏平台” 发布相应的有明确截止日期与可以明确判断出问题是否被解决的悬赏（必须在尝试 google 等互联网搜索引擎、发动身边所有的人脉等资源后无法解决的悬赏问题）。
          </p>
          <p class="lead">
            基本规则 2：“知识猎人.悬赏平台” 对每个发布任务收取 5% 佣金作为维持运营的费用。“悬赏发布者.任务的赏金”将被暂时保存在 “知识猎人.悬赏平台” 官方账户中。
            目前正在组建中，暂时由赵龙暂为保管(如何找到赵龙：微信公众号搜索——赵龙1043，点击进入后可以找到联系方式。记得备注：发布知识悬赏任务)。网站目前在测试阶段，知识悬赏任务最高赏金——500RMB，网站进一步优化后，会逐步提高最高赏金额度。
          </p>

          <h3>细则 1——知识悬赏任务.标题规范：【任务类型】+【任务时限】+【任务简述】+【任务赏金】+【任务要求】</h3>
          <h4>举例:技能私教+长期+一年内教会我商业平面广告拍摄+最低1.5万RMB+5年以上从业经验且获得过世界级摄影奖项</h4>

          <h4>【任务类型】:</h4>
          <p class="lead2">
            • 远程技术支援（“知识悬赏任务.接受者”只需要通过电脑或手机就可以协助 “知识悬赏任务.发布者” 解决问题）•
            <br/>
            • 纯知识类难题.一篇文章可以解答（已经尝试 google 等搜索引擎、身边的人脉资源都尝试过，任然无法解决的难题，）
            <br/>
            • 技能私教（“知识悬赏任务.发布者” 学习一门技能，需要 “知识悬赏任务.接受者” 教学（可远程），加快学习进度，尤其是快速逃离任何技术学习中最容易放弃的新手阶段）
          </p>

          <h4>【任务时限】:</h4>
          <p class="lead2">
            • 即时：一天之内，3小时解决（可以按小时收费）。
            <br/>
            • 短期：一个月之内，远程技术协助.每天工作3小时。
            <br/>
            • 中期：半年之内，远程技术协助.每天工作3小时。
            <br/>
            • 长期：半年以上，远程技术协助.每天工作3小时。
          </p>

          <h4>【任务简述】:</h4>
          <p class="lead2">
            用15字以内的一句话，简单概括本次 “知识悬赏任务” 大概内容，例如：1 个月内教会我如何拍商业平面广告片。
          </p>

          <h4>【任务赏金】:</h4>
          <p class="lead2">
            推荐：500RMB，1000RMB，5000RMB，1万RMB等，这样明确的金额。也可以设定最低/最高成交金额或（根据 “知识悬赏任务.发布者” 与 “知识悬赏任务.接受者” 交流后，自我评估价格，成交价格要公布）
          </p>

          <h4>【任务要求】:</h4>
          <p class="lead2">
            例如：5年以上的商业平面摄影经验，获得过世界级摄影奖项。
          </p>

          <p class="lead2">
            注意：该网站在本次全栈营的 job-listing 魔改大赛结束后继续运营。
          </p>

          <h3>细则 2——知识悬赏任务.判断任务完成标准</h3>
          <h4>【任务类型分类】</h4>
          <p class="lead2">
            • 远程技术支援：在任务时限截止后，赏金在 1-3 工作日到 “知识悬赏任务.接受者” 的账户上，双方互相评价与打分（1~5分），如果想任务延期，重新续签任务且双方可以重新谈条件，成交后任务内容公开。
          </p>
          <p class="lead2">
            • 纯知识类难题.一篇文章可以解答：多个“知识悬赏任务.接受者” 在在任务时限截止之前，提交一份文档形式详细介绍具有可操作性的解决问题方案，同时请相关领域的多位专家判断该方案是否可行，同时选出其中最好的一个。双方互相评价与打分（1~5分）
            （注意：其他用户查阅这份解决方案需要交付一定的金额费用，该金额由 “知识悬赏任务.接受者” 确定，同时收益按 “知识悬赏任务.接受者”：“知识悬赏任务.发布者”：知识猎人网站 = 5：3：2 的比例分配）。

          </p>
          <p class="lead2">
            • 技能私教：将任务时限与任务赏金皆三等分。每过 1/3 的任务时限，“知识悬赏任务.发布者” 在 “知识猎人网” 的本次任务列表确认完成 1/3 的技能私教进度，1-3 工作日内赏金到 “知识悬赏任务.接受者” 的账户上；
            如果选择取消则该任务终止且支付 1/3 的赏金（“知识悬赏任务.发布者” 三日内无操作默认为确认），双方互相评价与打分（1~5分）。
          </p>

          <p class="lead2">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
