<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">
      全栈营线上班第二期春节VIP预付学员——赵龙
    <br/>
      该网站在本次全栈营的 job-listing 魔改大赛结束后继续运营。为大家尝试一种新的知识变现方式，认为该网站的创意与体验不错，
      欢迎点击该文字链接<a href="https://fullstack.xinshengdaxue.com/works/293" target=_new>“知识猎人系列01”</a>投出你的宝贵一票。
    </p>
  </div>
</footer>
